.ButtonApp {
  background: #cad2c5;
  display: flex;
  border: 1px solid rgba(0,0,0,0.05);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  height: 20%;
  min-width: 25%;
}

.ButtonApp[data-size="2"] {
  height: 40%;
}

.ButtonApp[data-value="null"] {
  pointer-events: none;
}

.ButtonApp:hover {
  background: #d7ddd3;
  cursor: default;
}